<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      ForcastPWA
    </ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="addWeather()"><ion-icon name="add"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
 
<ion-content>
 
    <div class="message" *ngIf="!weatherProvider.weathers.length">
 
        <p><strong>ForcastPWA</strong> is a <strong>P</strong>rogressive <strong>W</strong>eb <strong>A</strong>pplication that allows you to look up weather froma all around the world.</p>
 
        <p>A PWA is like a normal application from the app store, but you can access it directly through the web. You may also add this page to your home screen to launch it like your other applications.</p>
 
        <p>No account required, just hit the button below to start tracking your coins in whatever currency you wish!</p>
 
        <button ion-button full (click)="addWeather()" color="primary">Add City</button>
 
    </div>
 
    <ion-refresher *ngIf="weatherProvider.weathers.length" (ionRefresh)="refreshWeathers($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <p class="message" *ngIf="weatherProvider.pricesUnavailable">Could not fetch forcasts. Make sure you are connected to the Internet or try again later.</p>
 
    <ion-list no-lines>
 
        <ion-item-sliding *ngFor="let weather of weatherProvider.weathers">
 
          <ion-item class="weather" (click)="seeWeather(weather)">
            <p><strong>{{weather.city}},{{weather.country | uppercase}}</strong></p>
            <p class="temp"><strong>Temperature:</strong> {{weather.forcast.temp}} <strong>F</strong></p>
            <p class="range">max: {{weather.forcast.temp_max}}, min: {{weather.forcast.temp_min}}</p>
          </ion-item>
 
          <ion-item-options>
            <button ion-button icon-only color="danger" (click)="weatherProvider.removeWeather(weather)"><ion-icon name="trash"></ion-icon></button>
          </ion-item-options>
 
        </ion-item-sliding>
 
    </ion-list>
 
</ion-content>
 
<ion-footer padding>
 
    <p><strong>Disclaimer:</strong> This information is only updated every three hours and can only be updatted 60 times a day.</p>
 
</ion-footer>
